# gitignore
# important!
!.gitignore
!.travis.yml
.*
*.o
*.gz
*~
Out*
abcm2ps
abcm2ps.1
config.h
Makefile
Debug
abcm2ps.mk
abcm2ps.project
abcm2ps.txt
abcm2ps.workspace

# Ignore test and build artifacts
*.ps
*.pdf
